@model IEnumerable<Work_03.Model.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Subjects</h1>

<p>
    <a asp-action="Create" asp-controller="Subjects" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus-circle"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                    <a asp-action="Edit" asp-controller="Subjects" class="btn btn-outline-success btn-sm" asp-route-id="@item.SubjectId"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Delete" asp-controller="Subjects" class="btn btn-outline-danger btn-sm" asp-route-id="@item.SubjectId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
